.appointment {
    margin: 0.5rem;
    background: white;
    font-size: 3.5vw;
    color: black;
    display: block;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

@media screen and (min-width: 1000px) {
    .appointment {
        font-size: 30px;
    }
}

.appointment-item {
    padding: 0rem 0.5rem;
}

.trash-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 2.5vw;
    cursor: pointer;
    font-size: 3vw;
}

.trash-btn:hover {
    background-color: #791e05;
}

.appointment li {
    flex: 1;
}

.fa-trash {
    pointer-events: none;
}